.layout-border{

    /* height: 839px; */
    /* width: 50px; */
    position: absolute;
    /* top: -842px; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    display: -ms-flexbox;
    /* display: flex; */
    /* background: blue; */
    width: 593px;
}

.box-document{
    display: flex;
}

.item-layout{
    width: 4%;
    height: 10px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.2);;
    box-sizing: border-box;
    opacity: 0.2;
}
.item-layout:hover{
    background: red;
}
.row-layout{
    margin: 0;
    padding: 0;
    flex: 1 0 100%;
    height: 10px;

}

.layout-wrap{
    flex-wrap: wrap;
}

.color-fill-red{
    background: red;
}

.color-fill-blue{
    background: blue;
}
.removeTrad{
    width: 100%;
    height: 10px;
}




















.dragLayout{
   /* background: blue;*/

    
     height: 839px; 
    /* width: 50px; */
    position: absolute;
    /* top: -842px; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    display: -ms-flexbox;
    /* display: flex; */
    /* background: blue; */
    width: 585px;
}

#divContainer, #divResize { 
    border:dashed 1px #CCC; 
    width:120px; 
    height:120px; 
    padding:5px; 
    margin:5px; 
    font:13px Arial; 
    cursor:move; 
    float:left 
} 

.close-draggable-box{
    font-size: 2em;
}
