.home-header-container {
  z-index: 9999;
}

.blurred-root-home-container {
  filter: blur(2px);
}

.page-container {
  margin-top: 60px;
  margin-right: 60px;
  margin-left: 60px;
  display: flex;
  align-items: flex-start;
}

.profile-card-background {
  width: 100%;
  filter: blur(16px);
}

hr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.0975);
  margin: 1em 0;
  padding: 0;
}

.dashboard-left {
  flex: 0 0 300px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background: white;
}

.hr-separator {
  margin : 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  max-height: 80px;
}

.profile-card-container {
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.profile-picture-circle {
    overflow: hidden;
  background: white;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  border: 1px solid rgba(0,0,0,.0975);
}

.profile-name-container {
  margin-right: 25px;
  align-items: center;
  justify-content: center;
}

.profile-stat-container {
  display: block;
  margin: 0;
}

.profile-stat-label {
  cursor: pointer;
  color: #2C54F9;
  margin: 5px 20px;
}

.profile-stat-label:hover {
  cursor: pointer;
  color: #2C54F9;
  margin: 5px 20px;
  text-decoration: underline;
}

.profile-stat-number {
  margin: 5px 30px;
}

.profile-stat-number2 {
  color: #000;
  margin-left: 5px;
}

.profile-stat-content {
  margin: 10px 0;
}

.dashboard-middle {
  flex: 1;
  border-radius: 3px;
  /*border: 1px solid #e6e6e6;
  background: white;*/
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.iframe-video {
  border: 0;
  width : 100%;
  height: 100%;
}

.upload-root-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.profile-upload-container {
    cursor: pointer;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 3px;
}

.root-page-container {
  display: inline-block;
}

.profile-upload-container:hover {
    background: #EAEAEA;
}

.upload-file-container {
    display: flex;
    align-items: center;
    border: 0;
    padding: 0 10px;
    font-size: 13px;
    height: 20px;
    width: inherit;
}

.upload-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  max-width: 20px;
}

.my-documents-container {
    cursor: pointer;
    padding: 3px;
    background: #FAFAFA;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
}

.my-documents-container:hover {
    background: #EAEAEA;
}