.loader-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-content: space-around;
  align-items: center; }

.loader-item {
  flex: 0 0 64px;
  margin-left: 50%;
  margin-top: -61px; }

.dbl-spinner {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid transparent;
  border-top: 4px solid #222;
  border-left: 4px solid #222;
  -webkit-animation: 2s spin linear infinite;
  animation: 2s spin linear infinite; }

.dbl-spinner:nth-child(2) {
  border: 4px solid transparent;
  border-right: 4px solid #03A9F4;
  border-bottom: 4px solid #03A9F4;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
