.category-list-container {
margin: 10px;
}

.category-label {
  font-weight: bold;
  font-size: 1.1em;
}

.dashboard-left-search {
  width: 200px;
  margin-right: 80px;
  float: left;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background: white;
}

.category-list-items {
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 0!important;
  font-size: 1em;
}

.list-item {
  display: flex;
  align-items: flex-start;
  padding: 5px 15px;
  width: 100%;
  list-style: none;
  cursor: pointer;
  color: #438dea;

}

.category-icon {
  margin-right: 7px;
  font-size: 1.2em;
}

.list-item:hover {
  color: #2C54F9;
}