div {
  overflow: hidden !important;
}

.middle--pdf {
  display: flex;
  justify-content: center;
  overflow: no-display!important;
}

.document-pdf {
  margin: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: no-display!important;
}

.react-pdf__Page {
  position: relative;
}

.react-pdf__Page__annotations {
  display: none;
}

.controls-pdf-container {
  width: 610px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-pdf-controls {
  border: 1px solid #e6e6e6;
  font-size: 26px;
  border-radius: 3px;
}

.button-pdf-controls:hover {
  cursor: pointer;
  background: #FAFAFA;
}

.right-control-panel {
  margin: 0 5px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: white;
  margin-top: 5px;
}

.icon-trad {
  max-width: 20px;
}

.icon-help {
  margin-left: 5px;
}

.button-helper-container {
  display: flex;
  padding: 0;
}

.helper-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-button-item {
  position: relative;
  margin: 5px 0;
}

.react-player-container {
  padding: 5px;
}

.pdf-root-container{
  display: flex;
  flex-wrap: wrap;
}

.traduction-toolbar{
  flex:  0 0 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.pdf-box{
  flex:  0 0 100%;
  display: flex;
  align-items: flex-start;
}

.traduction-toolbar-item{
  flex :0 0 100%;
  height:auto;
}

.overlay-panel{
  width: 100px;
  height: 400px;
  background: blue;
  float: right;
}

.player-empty{
  width: 400px;
  height: 360px;
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.player-empty > *{
  flex: 0 0 100%;
  text-align: center;
}

.panel-row-container {
  margin: 5px 0;
}
