


$color-nav-background : #273238;
$color-nav-active : #36474F;
$color-nav-text : #76878E;
$color-nav-text-active: #F0F0F0;



$color-second: #1AB188;

$background: #242238;
$background_light: #363448;



$font : suisse;