.root-register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  text-align: center;
  padding: 10px;
}

.cgu-label {
  color: dodgerblue;
}

.register-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.register-input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 3px;
  font-size: 15px;
}

.register-input-leaving {
  border: 2px solid red;
}


.register-header-logo {
  margin-top: 10px;
  max-width: 100px;
}

.register-form-container {
  width: 395px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.auth-link-container {
  width: 395px;
  padding: 20px 0;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.auth-link {
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: #3997F0;

}

.register-button {
  border-color: #3897f0;
  color: #FFF;
  background: #3897f0;
  border-radius: 3px;
  padding: 10px;
  margin: 30px;
  font-size: 15px;
  cursor: pointer;
}

.footer-component {
  margin-top: 20px;
  vertical-align: baseline;
  bottom: 0;
}

.get-app-container {
  flex-direction: column;
}

.get-app-p {
  margin: 10px 20px;
  font-size: 14px;
}

.get-app-images {
  flex-direction: row;
  justify-content: center;
}

.download-on-app-store {
  margin: 10px 5px;
  max-width: 133px;
  cursor: pointer;
}

.get-it-on-google-play {
  margin: 10px 5px;
  max-width: 140px;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #C7E0FA;
  background-color: #C7E0FA;
  color: #FFF;
}

.register-input {
  margin: 18px 30px;
  font-size: 15px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: lightslategrey;
}

.register-input:focus {
  border-color: #2096F3;
}
