.explorer-container{

    flex: 1 0;
    display:flex;
    flex-flow: row wrap;
    font-weight: bold;

    flex-wrap: wrap;

    padding-bottom: 20px;
}
.explorer-bar{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
border-bottom: 1px solid rgba(0,0,0,.0975);
}

.explorer-box{
    display:flex;
    flex: 1;
    flex-flow: row wrap;
    font-weight: bold;
align-content: space-between

}

.explorer-box-item{
    flex: 0 0 100%;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    line-height: 46px;
    padding-left: 15px;
    margin: 0;
    height: 41px;
    overflow: hidden;
    display:flex;
    align-content: space-between;
}
.explorer-box-item:hover{
    color: rgba(0,0,0,.0975);
}
.explorer-box-item-desc{
    color: rgba(0,0,0,.2);
    font-size: 0.8em;
    margin-left: 40px;
    width: 33%;
    overflow:hidden;
}
.explorer-box-item-name{
width: 33%;
overflow:hidden;
}
.explorer-tool-item-selected{
    color: blue
}
.explorer-tool{
    width: 300px;
    min-height: 200px;
    border-right: 1px solid rgba(0,0,0,.0975);
}

.explorer-bar-title{
    margin: 0;
    margin-left: 10px;
    line-height: 40px;
}

.explorer-bar-tools{
    display:flex;
    justify-content: space-between;
}
.explorer-bar-tools i{
    flex: 1;
    margin-left: 10px;
    line-height: 40px;
    cursor: pointer;
}
.pref-display-type{
    color: rgba(0,0,0,.0975);
}
.explorer-bar-tools i:hover{
    flex: 1;
    margin-left: 10px;
    line-height: 40px;
    cursor: pointer;
    color: rgba(0,0,0,.0975);
}

.explorer-tool-cat{
    margin: 0;
    padding-left: 20px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    padding-bottom: 10px;
    margin-top: 10px;
}

.explorer-box-item-box{
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
}

.explorer-tool-item{
    padding-left: 30px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-content: space-between;
    margin-right: 20px;
    margin-top: 10px;
    line-height: 23px;
    overflow: hidden;

}
.explorer-tool-item i {
    margin-right:30px;
}
.explorer-tool-item:hover{
    color: rgba(0,0,0,.0975);
}
.explorer-tool-item-badge{
color: blue;
}
.explorer-tool-item-name{
    flex: 1;
}
.explorer-page{
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    border-top: 1px solid rgba(0,0,0,.0975);
    height: 50px;
    margin-bottom:0px;

}

.explorer-page-item{
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.explorer-icon{
    line-height: 42px;
    margin-right: 40px;
}

.explorer-box-item-status{
    text-align: center;
}
