
@font-face {
  font-family: Suisse;
  src: url(./fonts/suisse.otf); }

body, html, div{
  margin: 0;
  padding: 0;
  font-family: Suisse, Helvetica, Open Sans, arial, sans-serif;
  overflow: auto;
}

/* basic grid , left to right, top to bot */
.basic-container{
  display: flex;
  flex-direction: row; /* left to right */
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  background-color: transparent;
}

.dialogram-rights {
  text-transform: uppercase;
  color: #999;
  font-size: 12px;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.ticket-container{
  width: 500px;
}

.ticket-header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.ticket-header-item{
  flex: 0 auto;
}

.create-ticket-form-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.create-ticket-form-item{
  flex: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.ticket-success{
  color: green;
}