.box-component {
  overflow: scroll;
  background: #f5f5f5;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23); }

/*** Popup Component ***/
@keyframes open {
  from {
    right: -3000px; }
  to {
    right: 0; } }

.close {
  color: darkred; }

.popup-window {
  animation-name: open;
  animation-duration: 0.1s;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  /* red with opacity */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.popup-window div.content {
  margin-bottom: 10%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: white; }

.popup-title-content {
  display: flex;
  justify-content: center;
  align-items: center; }

.popup-tool-bar {
  background: #FAFAFA;
  border-bottom: 1px solid #E1E1E1;
  font-size: 15px;
  flex: 1;
  height: 30px;
  display: flex;
  justify-content: flex-end; }

.popup-tool-bar i.close {
  padding: 3px;
  cursor: pointer; }

.popup-tool-bar i.close:hover {
  color: #ED4956; }

.popup-children-box {
  max-width: inherit;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center; }

/*** AddFile Component ***/
.addfile-component-container {
  width: 380px; }

.select-root-container, .type-root-container, .upload-button-container, .upload-status-container, .checkbox-root-container {
  margin: 20px 40px; }

.label-type {
  font-size: 13px; }

.checkbox-root-container {
  border: 1px solid rgba(0, 0, 0, 0.0975);
  background: #FAFAFA;
  padding-left: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em; }

.checkbox-root-container:hover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em; }

.type-select-container {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  font-size: 13px;
  height: 20px;
  width: 100%; }

.file-upload-input {
  cursor: pointer; }

.file-upload-input:focus {
  outline-width: 0; }

.file-name-input {
  background: inherit;
  border: 0;
  font-size: 13px;
  height: 100%;
  width: 100%; }

.file-name-input:focus {
  outline-width: 0;
  background: inherit;
  border: 0;
  font-size: 13px;
  height: 100%;
  width: 100%; }

/*** DropDown Component ***/
.dropdown-container {
  min-height: 20px;
  display: flex;
  flex-wrap: wrap; }

.dropdown-header {
  font-size: 15px;
  margin-left: 20px;
  max-height: 35px;
  display: flex;
  cursor: pointer;
  justify-content: center; }

.dropdown-header:hover {
  max-height: 35px;
  display: flex;
  cursor: pointer;
  justify-content: center; }

.dropdown-icon-container {
  margin-left: 12px;
  display: flex;
  align-items: center; }

.dropdown-title {
  margin: 0;
  padding: 0; }

.dropdown-title-container {
  margin-left: 5px;
  display: flex;
  align-items: center; }

.dropdown-item-container {
  display: flex;
  flex: 1 0 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  flex-direction: column;
  cursor: pointer; }

.dropdown-item {
  color: #7f7f7f;
  height: 35px;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  cursor: pointer; }

.dropdown-item:hover {
  color: #303030;
  background: #FAFAFA;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  cursor: pointer; }

.dropdown-item i {
  font-size: 21px;
  margin-left: 60px;
  line-height: 35px;
  margin-right: 10px;
  cursor: pointer; }

.dropdown-item p {
  margin: 0;
  flex: 1;
  overflow: hidden;
  font-size: 14px;
  cursor: pointer; }

.dropdown-item i:hover {
  color: #4B4B4B; }

.dropdown-item p:hover {
  color: #4B4B4B; }

.label-container {
  margin-left: 32px;
  color: #353535;
  align-items: center;
  font-size: 15px;
  display: flex; }

/*** Profile Component ***/
.profile-container {
  width: 700px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #335af0;
  border-radius: 10px;
  padding-left: 10px; }

.profile-category {
  flex: 1 0 100%;
  color: #335af0; }

.profile-form {
  flex: 1 0 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap; }

.profile-form form {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; }

.profile-form form input {
  flex: 0 1 60%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #b5b4b7;
  padding-left: 15px;
  outline: none; }

.profile-form button {
  flex: 0 0 180px;
  margin-right: 10px;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  background: #335af0;
  color: white;
  border-radius: 10px;
  border: 1px solid #b5b4b7; }

.profile-form button:hover {
  background: #f5f5f5;
  color: #5f5f61; }

/**** SearchResult Component ***/
.search-result-container {
  flex: 1 0 100%;
  display: flex;
  border-bottom: 1px solid black;
  flex-wrap: wrap;
  padding-bottom: 10px; }

/*** Confirmation Component ***/
.two-button-choice {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important; }

/*** FormErrors Component ***/
.span-error {
  padding: 3px 0;
  color: #ED4956;
  font-size: 13px; }

.form-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px; }

/**** SearchResult Component ***/
.search-result-container {
  flex: 1 0 100%;
  display: flex;
  border-bottom: 1px solid black;
  flex-wrap: wrap;
  padding-bottom: 10px; }

/*** Confirmation Component ***/
.two-button-choice {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important; }

/*** FormErrors Component ***/
.span-error {
  padding: 3px 0;
  color: #ED4956;
  font-size: 13px; }

.form-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px; }

/*** CustomIconButton Component ***/
.custom-button-root-container {
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: left; }

.custom-button-container {
  height: 20px;
  cursor: pointer;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  border-radius: 3px; }

.custom-button-container:hover {
  background: #EAEAEA; }

.custom-button-label {
  display: flex;
  margin-left: 10px;
  align-items: center;
  border: 0;
  font-size: 13px;
  height: 20px;
  width: inherit; }

/*** ItemList Component ***/
.list-container {
  min-height: 20px;
  display: flex;
  flex-wrap: wrap; }

.list-item-component {
  color: #7f7f7f;
  height: 35px;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  cursor: pointer; }

.list-item-component:hover {
  color: #303030;
  background: #FAFAFA; }

.list-item-component:active {
  color: #438DEA;
  background: #FAFAFA; }

.list-item-component i {
  margin: 0 10px;
  display: flex;
  line-height: 35px;
  cursor: pointer; }

.list-item-component p {
  padding-bottom: 4px;
  font-size: 14px;
  cursor: pointer; }

.list-item-component p:hover {
  padding-bottom: 4px;
  font-size: 14px;
  cursor: pointer; }

.list-icons {
  margin: 0;
  padding: 0;
  font-size: 21px; }

/*** Loader component ***/
.loader-component {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #242238;
  display: flex;
  align-items: center;
  justify-content: center; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin-top: 99px; }

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: blue;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }

.access-right-component-container {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px; }

.access-right-component-search-item {
  flex: 0 0 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap; }

.userlist-item {
  flex: 0 0 100%;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  display: flex;
  margin-bottom: 5px;
  padding-bottom: 4px; }

.userlist-item > img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 28px; }

.userlist-item:hover {
  color: rgba(0, 0, 0, 0.3975); }

.wall-activity {
  padding: 10px;
  flex-wrap: wrap; }

.wall-item {
  flex: 0 1 100%;
  display: flex;
  margin-top: 20px;
  padding: 10px; }

.wall-document-comment {
  flex: 1 1 66%;
  margin-left: 10px;
  height: 300px; }

.wall-comment {
  display: flex;
  margin-bottom: 10px; }

.wall-comment-avatar {
  line-height: 35px;
  margin-right: 20px;
  color: #3897f0;
  display: flex;
  align-content: center;
  align-items: center; }

.wall-comment-avatar img {
  flex: 0 0 30px;
  height: 30px;
  border-radius: 7px; }

.wall-comment-wrapper {
  background: rgba(0, 0, 0, 0.0975);
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  height: 35px; }

.wall-comment-content {
  line-height: 35px;
  margin: 0; }

.account-verif-message {
  flex: 0 0 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap; }

.account-verif-message-item {
  flex: 0 0 100%;
  text-align: center; }

.account-verif-message-item-link {
  color: #737a80;
  font-size: 1.01em;
  cursor: pointer; }

.active-user {
  position: absolute;
  z-index: 1000;
  background: red;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }


  .forbiden-content{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex: 0 0 100%;
  }

  .forbiden-content div{
    flex: 0 0 100%;
    text-align: center;

  }

  .forbiden-content div button {
    cursor: pointer;
    background: transparent;
    border: none;
    margin-bottom: 20px;
    font-size: 1.1em;
  }
