.root-header-container {
    background: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0,0,0,.0975);
}

header {
    display: flex;
    position: fixed;
    width: 100%;
}

.logo-title-header-separator {
    transform: scaleX(.5);
    transform-origin: left;
    background-color: rgba(0,0,0,.0975);
    height: 28px;
    margin: 0 16px;
    width: 1px;
}

.header-container {
    max-width: 1700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;

}

.logo-title-header-container {
    overflow: hidden;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.logo-title-header-link {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.logo-header-container {
    margin: 0 10px;
}

.header-logo {
    max-width: 50px;
}

.header-title-container {
    font-size: 26px;
    margin: 0 10px;
}

.searchbar-header-container {
    overflow: hidden;
    margin-left: 30px;
    background: white;
    padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 3px;
}

.searchbar-input-header {
  border: 0;
  padding: 0 10px;
  font-size: 13px;
  height: 20px;
  width: 240px;
}

.searchbar-input-header:focus {
    border: 0;
    outline-width: 0;
}

.search-icon {
  cursor: pointer;
  padding: 0 3px;
  max-width: 10px;
}

.search-icon:hover {
  color: black;
  max-width: 14px;
}

.icon-header-container {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: flex-end;
}

.profile-icon-container {
    display: flex;
    flex: inherit;
    align-items: center;
    justify-content: flex-end;
}

.profile-icon {
    cursor: pointer;
    padding: 0 5px;
    max-width: 26px;
}

.notification-icon {
    padding: 0 30px;
    max-width: 26px;
}

.header-logout-container {
    overflow: hidden;
    color: rgba(0, 0, 0, 0.3000);
    font-size: 16px;
    margin: 0 10px;
}

.logout-header-link {
    color: rgba(0, 0, 0, 0.3000);
    cursor: pointer;

}

.logout-header-link:hover {
     color: rgba(0, 0, 0, 0.6000);
}

.header-explore-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.4000);
  margin-left: 20px;
}

.header-explore-container:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7000);
}