.settings-list {
  list-style-type: none;
  width: 300px;
  background: white;
}

.settings-div {
  font-size: 14px;
  flex: 0 0 auto;
  margin-right: 10px;
  padding-right: 30px;
}

.settings-content {
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 14px;
  flex: 1 0 auto;
}

.fieldSettings {
  display: flex;
  flex-wrap: nowrap;
  padding: 4px;
}

.labelSettings {
  width: 140px;
  padding: 5px;
  text-align: right;
  font-size: 16px;
}

.genderSettings {
  padding: 5px;
  text-align: right;
  font-size: 12px;
}

.inputSettings {
  line-height: 20px;
}

a {
  color: gray;
  text-decoration: none;
}

a.linkActive {
  color: black;
}

li {
  padding: 10px;
  line-height: 30px;
  height: 30px;
  border-top: 1px solid #e6ecf0;
}

li:hover{
  background:#e6ecf0;
}

li i{
  float: right;
}

li:first-child {
  border-top: 0px solid #e6ecf0;
}

ul {
  padding-left: 0;
}

.saveDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
}

.saveButton {
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#7892c2;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:16px;
  padding:6px 18px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}

.saveButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color:#476e9e;
}

.saveButton:active {
  position:relative;
  top:1px;
}

.imgActual {
  max-height: 200px;
}

.imgPreview {
  max-height: 200px;
}


.profil-container{
  background: white;
  display:flex;
  flex: 1 ;
  max-width: 80%;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin: auto;
}

.profil-container img{
  width: 200px;
  height:200px;
  border-radius: 300px;
  margin-bottom: 20px;
}

.identity{
  margin: 0;
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
  color: #7f7f7f;
  font-weight: bold;
}
.description{
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
  color: #7f7f7f;
}

.identity-info{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-around;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.identity-info-container{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.identity-info-container p {
  margin: 0;
  margin-bottom: 10px;
}
.identity-info-container p:first-child{
  color: #7f7f7f;
  font-size: 19px;
}

.profil-public-info{
  width: 100%;
  display:flex;
  flex-direction: row;
  border-top: 1px solid #e6e6e6;
  flex-wrap: wrap;
  margin-bottom: 30px;
}


.profil-public-info > p:first-child{
  flex: 0 0 100%;
  font-size: 1.1em;
  font-weight: bold;
  display:flex;
  justify-content: space-between;
  text-indent: 30px;
}
#edite-info{
display:none;
margin-right: 30px;
cursor: pointer;
font-weight: normal;
}

.profil-public-info:hover #edite-info{
  color: #7f7f7f;
  display: block;
}

.profil-public-info div {
  display:flex;
  flex: 0 0 100%;
  flex-direction: row;
  font-size: 15px;
  padding-left: 10px;
  justify-content:flex-start;
  padding-right: 50px;
}
.profil-public-info div p:first-child {
  flex: 0 0 auto;
  font-size: 15px;
  padding-left: 10px;
  width: 200px;
}
.profil-public-info div>button {
margin: 10px;
cursor: pointer;
}