/**  AVATAR-BIG*/
.avatar-big-content{
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, #1DA1F2 60%, white 50%);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: flex-end;
}

.avatar-big-content > img {
    width: 80px;
    height: 80px;
    margin-bottom: 6px;
    margin-left: 20px;
    border-radius: 55px;
    border: 3px solid white;
    cursor: pointer;
}

.avatar-big-identity{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-top: 19px;
    margin-left: 10px;
}

.avatar-big-identity  h6{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    flex: 0 0 auto;
    cursor: pointer;
}

.avatar-big-identity p {
    margin: 0;
    flex: 0 0 auto;
    color: #657786;
    cursor: pointer;
}

.avatar-big-identity p:hover{
    text-decoration: underline;
}
.avatar-big-identity h6:hover{
    text-decoration: underline;
}

/************/

/** AVATAR-BIG **/

.avatar-medium-content{
    width: 100%;
    height: 40px;
    display: flex;
}

.avatar-medium-content img{
    border-radius: 80px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.avatar-medium-identity {
    height: 40px;
    line-height: 40px;
}
.avatar-medium-identity h6{
    margin: 0px;
    font-size: 1.2em;
    margin-left: 10px;
    overflow: hidden;
    cursor: pointer;
}
.avatar-medium-identity h6:hover{
    color: #657786;
}